.footer {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: flex-end;
}
.socialMedia {
    width: 88%;
    height: 100%;
    background-color: rgb(5, 18, 29);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.icons {
    width: 30%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.icons .icon {
    color: white;
    font-size: 40px;
    transition: .5s all;
}
.icons .icon:hover {
    transform: scale(1.1);
}