.Projects {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.projectsBody {
    width: 88%;
    height: auto;
    background-color: rgb(213, 219, 217);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projectsBody h1 {
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}
.projectList {
    width: 75vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
.ProjectItem {
    border-radius: 15px;
    width: 300px;
    height: 300px;
    margin: 40px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  .ProjectItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  .ProjectItem .bgImage {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }